@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  // padding: 0 30px;
}
.container-admin {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 30px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  width: 100%;
}
thead {
  background-color: #f7f7f8;
}
th,
td {
  vertical-align: middle;
  white-space: nowrap;
}
th {
  padding: 20px 30px;
  font-weight: 600;
  text-align: center;
}
td {
  padding: 15px 30px;
}
tbody {
}

.active {
  @apply text-red-500;
}
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
